@import 'reset';

$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;

@font-face {
  font-family:'AvenirLTStd-Book';
  src: url('../fonts/AvenirLTStd-Book_gdi.eot');
  src: url('../fonts/AvenirLTStd-Book_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Book_gdi.woff') format('woff'),
    url('../fonts/AvenirLTStd-Book_gdi.ttf') format('truetype'),
    url('../fonts/AvenirLTStd-Book_gdi.svg#AvenirLTStd-Book') format('svg');
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

img {
  max-width: 100%;
}

body {
  font-family:'AvenirLTStd-Book', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  background: url('../img/test-bg.jpg') no-repeat center center #666;
  background-size: cover;
  color: #fff;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  header {
    display: flex;
    width: 100%;
    align-self: flex-start;
    justify-content: space-between;

    nav {

      ul {
        display: flex;

        li {
          list-style-type: none;
          padding: 10px;
        }
      }
    }
  }

  .greeting {
    width: 15%;
    opacity: 0.5;
    margin-left: 100px;
  }

  .occupation {
    width: 45%;
    opacity: 0.5;
  }

  h2 {
    margin: 0 0 -20px;
    width: 40%;
    transform: scale(1.25, 1.25);
    opacity: 1;
    transition: all 0.3s ease;

    &:hover {
      
    }
  }

  .bio {
    text-align: center;
    font-size: 1.0625rem;
    width: 45%;
  }
}

.overlay {
  opacity: 0.75;
  filter: blur(5px);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(134deg, #bd00df, #1a45ff, #00d6c1, #45ff1a, #ffef09, #ff2b3d, #bd00df, #1a45ff, #00d6c1);
  background-size: 1800% 1800%;

  -webkit-animation: AnimationName 20s linear infinite;
  -moz-animation: AnimationName 20s linear infinite;
  animation: AnimationName 20s linear infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
  }
  @keyframes AnimationName { 
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
  }
}